# Framework e Servidor
Django
gunicorn
whitenoise

# Banco de Dados
psycopg2-binary
dj-database-url

# Utilitários
python-dotenv
Pillow
requests
django-apscheduler

# API do Google
google-generativeai

pytz
tzlocal
APScheduler
django-apscheduler

# Testes
pytest
pytest-django
pytest-lazy-fixture
