# Framework e Servidor
Django
gunicorn
whitenoise

# Banco de Dados
psycopg2-binary
dj-database-url
django-storages
azure-storage-blob

# Utilitários
python-dotenv
Pillow
requests
django-apscheduler

# API do Google
google-generativeai
openai
pytz
tzlocal
APScheduler
django-apscheduler

# Testes
pytest
pytest-django
pytest-lazy-fixture

